body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 100px;
    color: white;
}

.quote-box {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 320px;
    border-radius: 10px;
}

#quote {
    font-size: 18px;
}

#author {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    transition: 0.3s;
    margin: 10px;

}

button:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}

.quote-box {
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}